<div class="relative flex items-center input-form-design pl-0-important pr-0-important" [ngClass]="selectorOn ? 'border-b-none' : '' ">
    <button (keydown.arrowdown)="enterKeyDownOption($event,hoverI)" (keydown.arrowup)="enterKeyUpOption($event,hoverI)"
      (keydown.enter)=selectOptionWithEnter() type="button" class="items-center flex z-0 w-full"
      aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label" (click)="onFilter($event)" (click)="toggleSelector($event)">
      <input (click)="onFilter($event)" (click)="toggleSelector($event)" (keyup)="onFilter($event)" class="flex items-center ml-4 truncate text-green-light bg-transparent flex-grow cursor-text" [placeholder]="placeholder" [ngModel]="selectedElement ? selectedElement.description : null">
      <span class="ml-3 items-center pr-2 pointer-events-none">
        <img src="../../../../assets/images/selector-arrow-green.svg" class="self-center h-6 w-6">
      </span>
    </button>
  
    <ul *ngIf="selectorOn" class="top-6 options-list-selector transition-all text-green-light ease-in duration-100 opacity-100 py-1 overflow-auto focus:outline-none sm:text-sm outline-none" tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3">
      <li *ngFor="let op of currentOptions;let id = index;"(mouseenter)="enterOption(id)" (mouseleave)="enterOption(id)" (click)="selectOption($event,op)" class="cursor-pointer select-none relative py-2 px-3" id="listbox-option-0" role="option" [ngClass]="hoverI==id? 'text-white-design bg-green-light': 'text-green-light'">
        <span class="font-normal ml-3 block truncate">
          {{op.description}}
        </span>
      </li>
    </ul>
  </div>
  
  
  
  
  
  
  
  
  