<div class="w-1/2 m-auto mt-32 bg-white p-3 rounded-md" style="margin-top:10rem !important;">
  <div class="flex flex-wrap -mx-3 mb-6 w-full">
    <div class="flex flex-row w-full px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-lg font-bold mb-2 flex-grow" for="grid-first-name">
        {{wrapper.publication.title}}
      </label>
      <img *ngIf="wrapper.publication.accountEmail != user.user.email" class="flex cursor-pointer w-8 justify-end" src="./assets/images/report-icon.png" (click)="toggleShowReport()">
      <img *ngIf="wrapper.publication.accountEmail == user.user.email" class="flex cursor-pointer w-8 justify-end" src="./assets/images/hide-icon.png" (click)="hidePublication()">
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="flex flex-row w-full md:w-1/3 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
        Precio : {{wrapper.publication.ucuCoinValue}}
      </label>
      <img class="w-6 cursor-pointer ml-2" src="assets/images/ucucoin-icon.png">
    </div>
  </div>
  <ngb-carousel *ngIf="wrapper.images">
    <ng-template ngbSlide *ngFor="let image of wrapper.images">
      <div class="picsum-img-wrapper">
        <img [src]="image.imageBytes" alt="Random" class="w-full">
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="flex flex-wrap -mx-3 mb-6 mt-4">
    <div class="w-full px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
        {{wrapper.publication.description}}
      </label>
    </div>
  </div>
  <button type="button" (click)="toggleShowOfferCreation()" *ngIf="wrapper.publication.accountEmail != user.user.email"
    class="transition duration-200 bg-blue-500 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block">
    <span class="inline-block mr-2">Ofertar</span>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
      class="w-4 h-4 inline-block">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
    </svg>
  </button>
  <br/>
  <h1 *ngIf="this.offersWrapper">Ofertas recibidas para esta publicacion: </h1>
  <div *ngFor="let wrapper of offersWrapper;" class="flex flex-row border-t-2 border-gray-500">
    <div class="flex flex-col flex-grow">
        <label>Esta oferta incluye las siguientes publicaciones: </label>
        <div class="flex flex-row" *ngFor="let offeredPublication of wrapper.offeredPublications">
            <label class="cursor-pointer text-blue-500" [routerLink]="['viewPublication',offeredPublication.idPublication]">{{offeredPublication.title}}</label>
        </div>
    </div>
    <div class="flex justify-end m-2">
      <label class="text-gray-500" *ngIf="wrapper.offer.status == 'OPEN'">Abierta</label>
      <label class="text-green-500" *ngIf="wrapper.offer.status == 'SETTLING'">Aceptada</label>
      <label class="text-blue-500" *ngIf="wrapper.offer.status == 'CHANGED'">Contraoferta</label>
  </div>
    <div *ngIf="wrapper.offer.status == 'SETTLING'" class="flex flex-col justify-end items-center">
      <button type="button" (click)="ViewAccountData(wrapper.offeredPublications[0].accountEmail)"
      class="m-2 transition duration-200 bg-gray-400 hover:bg-gray-500 focus:bg-gray-600 focus:shadow-sm focus:ring-4 focus:ring-gray-400 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block">
          <span class="inline-block m-2">Ver datos</span>
      </button>
      
      <button type="button" (click)="RevertOffer(wrapper.offer.idOffer)"
        class="m-2 transition duration-200 bg-red-500 hover:bg-red-600 focus:bg-red-700 focus:shadow-sm focus:ring-4 focus:ring-red-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block">
            <span class="inline-block m-2">Deshacer</span>
      </button>
    </div>
    <div *ngIf="wrapper.offer.status != 'SETTLING' && wrapper.offer.status != 'CHANGED'" class="flex flex-col justify-end items-center" >
        <button type="button" (click)="AcceptOffer(wrapper.offer.idOffer)"
        class="m-2 transition duration-200 bg-green-500 hover:bg-green-600 focus:bg-green-700 focus:shadow-sm focus:ring-4 focus:ring-green-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block">
            <span class="inline-block m-2">Aceptar</span>
        </button>
        <button type="button" (click)="RejectOffer(wrapper.offer.idOffer)"
        class="m-2 transition duration-200 bg-red-500 hover:bg-red-600 focus:bg-red-700 focus:shadow-sm focus:ring-4 focus:ring-red-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block">
            <span class="inline-block m-2">Rechazar</span>
        </button>
        <button type="button" (click)="CounterOffer(wrapper.offeredPublications[0].accountEmail, wrapper.offer)"
        class="m-2 transition duration-200 bg-blue-500 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block">
            <span class="inline-block m-2">Contraofertar</span>
        </button>
    </div>
    <div *ngIf="wrapper.offer.status == 'CHANGED'" class="flex flex-col justify-end items-center" >
      <button type="button" (click)="RejectOffer(wrapper.offer.idOffer)"
        class="m-2 transition duration-200 bg-red-500 hover:bg-red-600 focus:bg-red-700 focus:shadow-sm focus:ring-4 focus:ring-red-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block">
            <span class="inline-block m-2">Rechazar</span>
      </button>
  </div>
    
</div>

<app-create-offer [publication]="wrapper.publication" [showModal]="showOffer"></app-create-offer>
<app-view-account [accountEmail]="accountEmail" [showModal]="showAccountData" (toggle)="toggleshowAccountData()"></app-view-account>
<app-create-counter-offer [accountEmail]="accountEmail" [offer]="currentOffer" [showModal]="showCounterOffer"></app-create-counter-offer>
<app-make-report [publication]="wrapper.publication" [showModal]="showReport"></app-make-report>