<div *ngIf="showModal" (click)="closeSelectors($event)"
  class="absolute inset-0 z-50 outline-none focus:outline-none justify-center items-center flex filter-pop-up mr-32" style="width:300px;top:7rem">
    <!--content-->
    <div
      class="border-0 rounded-2xl shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!-- header -->
      <div class="flex filter-header items-start justify-between align-middle border-solid border-blueGray-200">
        <h2 class="text-sm">
          Filtros de búsqueda
        </h2>
      </div>
      <!--body-->
        <div class="flex flex-col text-blue-300 p-4">
            <div class="flex flex-col pb-inputs">
                <label class="label-form-design">Precio</label>
                <input class="items-center input-form-design pl-0-important pr-0-important" placeholder='Minimo' [(ngModel)]="publicationFilter.minUcuCoins">
                <input class="items-center input-form-design pl-0-important pr-0-important" placeholder='Maximo' [(ngModel)]="publicationFilter.maxUcuCoins">
            </div>
            
            <div class="flex flex-col pb-inputs">
                <label class="label-form-design">Fecha desde</label>
                <input class="items-center input-form-design pl-0-important pr-0-important" type="date" [(ngModel)]="publicationFilter.afterDate">
            </div>
            <div class="flex flex-col pb-inputs">
                <label class="label-form-design">Fecha hasta</label>
                <input class="items-center input-form-design pl-0-important pr-0-important" type="date" [(ngModel)]="publicationFilter.beforeDate">
            </div>
        </div>

      <!--footer-->
      <div class="flex items-center justify-end p-1 border-solid border-blueGray-200 rounded-b">
        <button
            class="btn-small text-gray-100 bg-blue-500 active:bg-orange-500 font-futura text-sm rounded-2xl shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button" (click)="reset()">
            Reset
        </button>
        <button
          class="btn-small text-gray-100 bg-blue-500 active:bg-orange-500 font-futura text-sm rounded-2xl	shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button" (click)="search()">
          Buscar
        </button>
      </div>
    </div>
</div>

