<div class="flex flex-col w-full mt-14">
    <div class="flex flex-col bg-white mr-16 ml-16 p-4 rounded mt-16">
        <div class="flex flex-row pb-8">
            <div class="flex">
                <h1>Mis publicaciones</h1>
            </div>
            <div class="flex flex-col pl-6 items-center relative justify-start">
                <img src="../../../../assets/images/filter-circle-icon-green.svg" class="w-8 cursor-pointer" (click)="onToggleFilter($event)">
                <h6 class="text-green-light font-gill">Filtrar</h6>
                <app-publication-filter [showModal]="showFilter" (filteredElementsEvent)="onFilter($event)"></app-publication-filter>
            </div>
        </div>
        <div *ngFor="let wrapper of currentPage.content;" class="flex border-t-2 border-gray-500 cursor-pointer">
            <img class="w-64" src="{{wrapper.images[0].imageBytes}}" [routerLink]="['viewPublication',wrapper.publication.idPublication]">
            <div class="flex flex-grow flex-col m-8" [routerLink]="['viewPublication',wrapper.publication.idPublication]">
                <label class="publicationTitle">{{wrapper.publication.title}}</label>
                <div class="flex flex-row">
                    <img class="w-8 cursor-pointer mr-2" src="assets/images/ucucoin-icon.png">
                    <label class="price">{{wrapper.publication.ucuCoinValue}}</label>
                </div>
            </div>
            <div class="flex flex-col">
                <img src="../../../../assets/images/trash-icon.png" class="w-8 cursor-pointer" (click)="cancelPublication(wrapper.publication.idPublication)">
                <label class="text-green-500 self-center mt-6" *ngIf="wrapper.publication.status == 'OPEN'">Abierta</label>
                <label class="text-blue-500 self-center mt-6" *ngIf="wrapper.publication.status == 'SETTLING'">Aceptada</label>
                <label class="text-gray-500 self-center mt-6" *ngIf="wrapper.publication.status == 'HIDDEN'">Oculto</label>
            </div>
        </div>
    </div>

    <div class="flex flex-row justify-center p-4" style="align-items: baseline;">
        <label class="paginationActual m-2">{{currentPage.pageNumber + 1}}</label>
        <label class="paginationTotal m-2"> de {{currentPage.totalPages}}</label>
        <button *ngIf="currentPage.pageNumber < currentPage.pageNumber" class="paginationTotal ml-2 text-red-500" (click)="nextPage()">Siguiente ></button>

    </div>
    
</div>
