<div *ngIf="showModal"
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex pt-32">
    <div class="relative w-auto my-6 mx-auto max-w-6xl">
        <!--content-->
        <div
            class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            <!--body-->
            <div class="bg-gray-100 flex flex-col justify-center">
                <div class="flex justify-end p-4">
                    <img class="w-4 cursor-pointer" src="assets/images/close-icon.png" (click)="toggleModal()">
                </div>
                <div class="pr-10 pl-10 pb-10 xs:p-0 mx-auto md:w-full md:max-w-md">
                    <h1>La oferta fue aceptada</h1>
                    <p>Para concretar el trueque contactese con {{currentAccount.name}} {{currentAccount.lastName}} a la siguiente direccion: {{currentAccount.email}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>