<div class="flex flex-1 h-full bg-blue-500 fixed" style="padding-top:3rem; z-index:899;">
    <aside id="sidebar" class="bg-side-nav border-r text-white-design border-side-nav md:block lg:block" [ngClass]="collapseShow?'':''">
  
      <ul class="list-reset flex flex-col">
          <li (click)="this.collapseShow = true" class="flex w-full h-full mt-16 p-3 hover:bg-blue-300 cursor-pointer outline-none" [routerLink]="['home']">
            <img src="../assets/images/home-icon.png"class="h-6 w-6"> 
            <p *ngIf="!collapseShow" class="px-3">Inicio</p>
          </li>
          <li *ngIf="user.isLogged()" (click)="this.collapseShow = true" class="flex w-full h-full p-3 hover:bg-blue-300 cursor-pointer outline-none" [routerLink]="['createPublication']">
            <img src="../assets/images/create-icon.png"class="h-6 w-6"> 
            <p *ngIf="!collapseShow" class="px-3">Crear</p>
          </li>
          <li *ngIf="user.isLogged()" (click)="this.collapseShow = true" class="flex w-full h-full p-3 hover:bg-blue-300 cursor-pointer outline-none" [routerLink]="['viewMyPublications']">
            <img src="../assets/images/publication-icon.png"class="h-6 w-6"> 
            <p *ngIf="!collapseShow" class="px-3">Mis publicaciones</p>
          </li>
          <li *ngIf="user.isLogged()" (click)="this.collapseShow = true" class="flex w-full h-full p-3 hover:bg-blue-300 cursor-pointer outline-none" [routerLink]="['viewMyOffers']">
            <img src="../assets/images/offer-icon.png"class="h-6 w-6"> 
            <p *ngIf="!collapseShow" class="px-3">Mis ofertas</p>
          </li>
          <li *ngIf="user.isLogged() && user.user.rolName == 'Admin'" (click)="this.collapseShow = true" class="flex w-full h-full p-3 hover:bg-blue-300 cursor-pointer outline-none" [routerLink]="['viewReports']">
            <img src="../assets/images/reports-icon.png"class="h-6 w-6"> 
            <p *ngIf="!collapseShow" class="px-3">Publicaciones reportadas</p>
          </li>
      </ul>
  
  </aside>
  </div>
  